<section  class="page-body-secs sidebar-con">
  <div class="container-fluid">
    <!-- <div class="col-md-3 pad0"> -->
      <div class="sidebar-sec">
        <h4>Featured</h4>

         <div class="prod-fecility" *ngFor="let f_val of Featured">
            <img src="../../../../assets/images/{{f_val.image}}">
            <h5>{{f_val.name}}</h5>
            <p> {{f_val.description}}</p>
         </div>

        <h4>All Categories</h4>
         
         <div class="all-cate">
           <a *ngFor="let Home of HomeList"> {{Home}} </a>
         </div>

        <h4>For the buyer</h4>

         <div class="prod-fecility" *ngFor="let b_val of Buyer">
            <img src="../../../../assets/images/{{b_val.image}}">
            <h5>{{b_val.name}}</h5>
            <p> {{b_val.description}}</p>
         </div>

        <h4>For the seller</h4>

         <div class="prod-fecility" *ngFor="let s_val of Seller">
            <img src="../../../../assets/images/{{s_val.image}}">
            <h5>{{s_val.name}}</h5>
            <p> {{s_val.description}}</p>
         </div>
      </div>
    <!-- </div> -->
    </div>
</section>