<section  class="page-body-secs">
         <div class="container-fluid">
            <div class="col-md-3 pad0">
               <div class="sidebar-sec">
                  <div class="all-cate">
                     <a>Company Profile</a>
                  </div>
               </div>
            </div>
            <div class="col-md-9 ">
               <section class="company-profile-sec"  style="webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                  background-color: #fff;
                  -webkit-transition: 0.3s ease;
                  transition: 0.3s ease;    display: inline-block;
                  width: 100%; padding-bottom: 30px;">
                
                  <ul class="nav nav-pills">
                     <li class="active"><a data-toggle="pill" href="#homepage">Contact Profile</a></li>
                     <li><a data-toggle="pill" href="#menupage1">Business Profile</a></li>
                     <li><a data-toggle="pill" href="#menu2">Statutory Details</a></li>
                     <li><a data-toggle="pill" href="#menu3">Bank Details</a></li>
                  </ul>
                  <div class="tab-content">
                     <div id="homepage" class="tab-pane fade active in show">
                        <form action="">
                           <div class="col-md-3">
                              <h4 class="design-name" style="text-align: center;">Profile Picture</h4>
                              <div class="avatar-upload">
                                 <div class="avatar-edit">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                    <label for="imageUpload"></label>
                                 </div>
                                 <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqsb6lK-PlD1kHFoubbiC-jN21tqj9ADz9crJ2rBIstz1gKFPE&usqp=CAU);">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-9 pad0">
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="First-Name" id="First-Name" placeholder="First Name">
                                       <label for="First-Name">First Name</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Last-Name" id="Last-Name" placeholder="Last Name">
                                       <label for="Last-Name">Last Name</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Promoter" id="Promoter" placeholder="Promoter / CEO (First name)">
                                       <label for="Promoter">Promoter / CEO (First name)</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Promoter-last" id="Promoter-last" placeholder="Promoter / CEO (Last name)">
                                       <label for="Promoter-last">Promoter / CEO (Last name)</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Company-Name" id="Company-Name" placeholder="Company Name  (As Per Reg. Document)">
                                       <label for="Company-Name"> Company Name  (As Per Reg. Document)</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Designation" id="Designation" placeholder="Designation">
                                       <label for="Designation">Designation</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Address" id="Address" placeholder="Address (Building No. / Floor)">
                                       <label for="Address">Address (Building No. / Floor)</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Address1" id="Address1" placeholder="Address (Area / Street)">
                                       <label for="Address1">Address (Area / Street)</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Landmark" id="Landmark" placeholder="Landmark">
                                       <label for="Landmark">Landmark</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Locality" id="Locality" placeholder="Locality">
                                       <label for="Locality">Locality</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="City" id="City" placeholder="City">
                                       <label for="City">City</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="State" id="State" placeholder="State">
                                       <label for="State">State</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Country" id="Country" placeholder="Country">
                                       <label for="Country">Country</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Zip-code" id="Zip-code" placeholder="Zip code">
                                       <label for="Zip-code">Zip code</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="GSTIN" id="GSTIN" placeholder="GSTIN">
                                       <label for="GSTIN">GSTIN</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Company-Website" id="Company-Website" placeholder="Company Website">
                                       <label for="Company-Website">Company Website</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6 mobile-number-sec-one">
                                    <li class="mobile-number-sec-pin-code"><span>+91</span></li>
                                    <li class="mobile-number-sec-mobile-num">
                                       <div class="field">
                                          <input type="text" name="Mobile-Number" id="Mobile-Number" placeholder="Mobile Number">
                                          <label for="Mobile-Number">Mobile Number</label>
                                       </div>
                                    </li>
                                    <li class="mobile-number-sec-mob-edit-sec">
                                       <a href="" data-toggle="modal" data-target="#myModalotp"><i class="fa fa-exclamation-circle" aria-hidden="true" style="color: #f4863b;"></i> <i class="fa fa-check-circle" aria-hidden="true" style="color: #18c40a; display: none;"></i></a> <a href=""><i class="fa fa-pencil" aria-hidden="true" style="color: #2e3192;"></i></a> 
                                    </li>
                                 </div>
                                 <div class="col-md-6 mobile-number-sec-one alternate-mob">
                                    <li class="mobile-number-sec-pin-code"><span>+91</span></li>
                                    <li class="mobile-number-sec-mobile-num">
                                       <div class="field">
                                          <input type="text" name="Alternate-Mobile" id="Alternate-Mobile" placeholder="Alternate Mobile Number">
                                          <label for="Alternate-Mobile">Alternate Mobile Number</label>
                                       </div>
                                    </li>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6 mobile-number-sec-one primary-email">
                                    <li class="mobile-number-sec-mobile-num">
                                       <div class="field">
                                          <input type="text" name="Primary-E-mail" id="Primary-E-mail" placeholder="Primary E-mail">
                                          <label for="Primary-E-mail">Primary E-mail</label>
                                       </div>
                                    </li>
                                    <li class="mobile-number-sec-mob-edit-sec">
                                       <a href=""  data-toggle="modal" data-target="#myModalotp"><i class="fa fa-exclamation-circle" aria-hidden="true" style="color: #f4863b;"></i> <i class="fa fa-check-circle" aria-hidden="true" style="color: #18c40a; display: none;"></i></a> <a href=""><i class="fa fa-pencil" aria-hidden="true" style="color: #2e3192;"></i></a> 
                                    </li>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Alternate-E-mail" id="Alternate-E-mail" placeholder="Alternate E-mail">
                                       <label for="Alternate-E-mail">Alternate E-mail</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6 std-code-sec">
                                    <li class="std-code-sec-sec-pin-code"><span>+91</span></li>
                                    <li class="std-codess">
                                       <div class="field">
                                          <input type="text" name="STD-Code" id="STD-Code" placeholder="STD Code">
                                          <label for="STD-Code">STD Code</label>
                                       </div>
                                    </li>
                                    <li class="std-codess-two">
                                       <div class="field">
                                          <input type="text" name="Landline-No" id="Landline-No" placeholder="Landline No.">
                                          <label for="Landline-No">Landline No.</label>
                                       </div>
                                    </li>
                                 </div>
                                 <div class="col-md-6 std-code-sec">
                                    <li class="std-code-sec-sec-pin-code"><span>+91</span></li>
                                    <li class="std-codess">
                                       <div class="field">
                                          <input type="text" name="STD-Code11" id="STD-Code11" placeholder="STD Code">
                                          <label for="STD-Code11">STD Code</label>
                                       </div>
                                    </li>
                                    <li class="std-codess-two">
                                       <div class="field">
                                          <input type="text" name="Landline-No12" id="Landline-No12" placeholder="Alternate Landline No.">
                                          <label for="Landline-No12">Alternate Landline No.</label>
                                       </div>
                                    </li>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6 std-code-sec">
                                    <li class="std-code-sec-sec-pin-code"><span>+91</span></li>
                                    <li class="std-codess">
                                       <div class="field">
                                          <input type="text" name="STD-Code13" id="STD-Code13" placeholder="STD Code">
                                          <label for="STD-Code13">STD Code</label>
                                       </div>
                                    </li>
                                    <li class="std-codess-two">
                                       <div class="field">
                                          <input type="text" name="Landline-No14" id="Landline-No14" placeholder="fax No.">
                                          <label for="Landline-No14">fax No.</label>
                                       </div>
                                    </li>
                                 </div>
                                 <div class="col-md-6 std-code-sec">
                                    <li class="std-code-sec-sec-pin-code"><span>+91</span></li>
                                    <li class="std-codess">
                                       <div class="field">
                                          <input type="text" name="STD-Code15" id="STD-Code15" placeholder="STD Code">
                                          <label for="STD-Code15">STD Code</label>
                                       </div>
                                    </li>
                                    <li class="std-codess-two">
                                       <div class="field">
                                          <input type="text" name="Landline-No16" id="Landline-No16" placeholder="Alternate fax No.">
                                          <label for="Landline-No16">Alternate fax No.</label>
                                       </div>
                                    </li>
                                 </div>
                              </div>
                              <div class="col-md-12" style="text-align: right;">
                                 <button type="" class="btn btn-large btn-primary" style="color: #fff;
                                    background-color: #f37638;
                                    border-color: #f37638;
                                    font-size: 16px;
                                    padding: 8px 30px;">Save </button>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div id="menupage1" class="tab-pane fade">
                        <form action="">
                           <div class="col-md-3">
                              <h4 class="design-name" style="text-align: center;">Company Logo</h4>
                              <div class="avatar-upload">
                                 <div class="avatar-edit">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                    <label for="imageUpload"></label>
                                 </div>
                                 <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url(images/comp-logo-91.png);">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-9 pad0">
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Company-Name1" id="Company-Name1" placeholder="Company Name">
                                       <label for="Company-Name1">Company Name</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Establishment" id="Establishment" placeholder="Year of Establishment">
                                       <label for="Establishment">Year of Establishment</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Promoter-ceo" id="Promoter-ceo" placeholder="Promoter / CEO (First name) ">
                                       <label for="Promoter-ceo">Promoter / CEO (First name)</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Promoter-ceo1" id="Promoter-ceo1" placeholder="Promoter / CEO (Last name) ">
                                       <label for="Promoter-ceo1">Promoter / CEO (Last name)</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Additional-Contact-Name1" id="Additional-Contact-Name1 " placeholder="Additional Contact Name ">
                                       <label for="Additional-Contact-Name1">Additional Contact Name </label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field1">
                                       <label >Primary Business Type</label>
                                       <select name="" class="form-control" size="1" id="primary_biz">
                                          <option value="">---Choose One---</option>
                                          <option value="10">Manufacturer</option>
                                          <option value="11">OEM Manufacturer</option>
                                          <option value="20">Exporter</option>
                                          <option value="21">100% Export Oriented Unit</option>
                                          <option value="30">Wholesaler</option>
                                          <option value="31">Wholesale Distributor</option>
                                          <option value="32">Wholesale Merchants</option>
                                          <option value="33">Wholesale Sellers</option>
                                          <option value="34">Wholesale Supplier</option>
                                          <option value="35">Wholesale Trader</option>
                                          <option value="36">Authorized Wholesale Dealer</option>
                                          <option value="37">Distributor / Channel Partner</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field1">
                                       <label >Ownership Type</label>
                                       <select name="" class="form-control" id="legal_status_id">
                                          <option value="">---Choose One---</option>
                                          <option value="4">Individual - Proprietor</option>
                                          <option value="3">Partnership Firm</option>
                                          <option value="2">Limited Company (Ltd./Pvt.Ltd.)</option>
                                          <option value="6">Limited Liability Partnership (LLP)</option>
                                          <option value="15">HUF Firm (Hindu Undivided Family)</option>
                                          <option value="5">Trust / Association of Person / Body of Individual</option>
                                          <option value="12">Government Firm / Local Authority / Artificial Judiciary</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field1">
                                       <label >Number of Employees</label>
                                       <select name="" class="form-control" size="1" id="noof_emp">
                                          <option value="">---Choose One---</option>
                                          <option value="100">Upto 10 People</option>
                                          <option value="200">11 to 25 People</option>
                                          <option value="300">26 to 50 People</option>
                                          <option value="400">51 to 100 People</option>
                                          <option value="500">101 to 500 People</option>
                                          <option value="600">501 to 1000 People</option>
                                          <option value="700">1001 to 2000 People</option>
                                          <option value="800">2001 to 5000 People</option>
                                          <option value="900">More than 5000 People</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="field1">
                                       <label >Annual Turnover</label>
                                       <select name="" class="form-control" id="turnover">
                                          <option value="">---Choose One---</option>
                                          <option value="50">Upto Rs. 50 Lakh </option>
                                          <option value="100">Rs. 50 Lakh - 1 Crore </option>
                                          <option value="150">Rs. 1 - 2 Crore </option>
                                          <option value="200">Rs. 2 - 5 Crore </option>
                                          <option value="250">Rs. 5 - 10 Crore </option>
                                          <option value="300">Rs. 10 - 25 Crore </option>
                                          <option value="350">Rs. 25 - 50 Crore </option>
                                          <option value="400">Rs. 50 - 100 Crore </option>
                                          <option value="500">Rs. 100 - 500 Crore </option>
                                          <option value="600">Rs. 500 - 1000 Crore </option>
                                          <option value="700">Rs. 1000 - 5000 Crore </option>
                                          <option value="800">Rs. 5000 - 10000 Crore </option>
                                          <option value="900">More than Rs. 10000 Crore </option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="field">
                                       <input type="text" name="Company-Website1" id="Company-Website1" placeholder="Company Website">
                                       <label for="Company-Website1">Company Website</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <h5 style="font-size: 17px;
                                    margin: 0px 0px 15px;
                                    color: #5d5d5d;
                                    font-weight: bold;
                                    line-height: 1.5;">Secondary Business</h5>
                              </div>
                              <div class="col-md-12">
                                 <style type="text/css">
                                    input[type=checkbox] + label {
                                    display: block;
                                    margin: 0.2em;
                                    cursor: pointer;
                                    padding: 0.2em;
                                    }
                                    input[type=checkbox] {
                                    display: none;
                                    }
                                    input[type=checkbox] + label:before {
                                    content: "\2714";
                                    border: 0.1em solid #000;
                                    border-radius: 0.2em;
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    padding-left: 0.2em;
                                    padding-bottom: 0.3em;
                                    margin-right: 0.2em;
                                    vertical-align: bottom;
                                    color: transparent;
                                    transition: .2s;
                                    }
                                    input[type=checkbox] + label:active:before {
                                    transform: scale(0);
                                    }
                                    input[type=checkbox]:checked + label:before {
                                    background-color: MediumSeaGreen;
                                    border-color: MediumSeaGreen;
                                    color: #fff;
                                    }
                                    input[type=checkbox]:disabled + label:before {
                                    transform: scale(1);
                                    border-color: #aaa;
                                    }
                                    input[type=checkbox]:checked:disabled + label:before {
                                    transform: scale(1);
                                    background-color: #bfb;
                                    border-color: #bfb;
                                    }
                                 </style>
                                 <ul class="inline-radio clearfix">
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box1" value="30"><label for="filled-in-box1">Wholesaler</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box2" value="20"><label for="filled-in-box2">Exporter</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box3" value="150"><label for="filled-in-box3">Distributor</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box4" value="80"><label for="filled-in-box4">Non Profit Organization</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box5" value="120"><label for="filled-in-box5">Association</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box6" value="140"><label for="filled-in-box6">Supplier</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box7" value="60"><label for="filled-in-box7">Buyer-Individual</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box8" value="50"><label for="filled-in-box8">Service Provider</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box9" value="130"><label for="filled-in-box9">Importer</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box10" value="10"><label for="filled-in-box10">Manufacturer</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box11" value="100"><label for="filled-in-box11">Trader</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box12" value="40"><label for="filled-in-box12">Retailer</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box13" value="70"><label for="filled-in-box13">Buyer-Company</label></li>
                                    <li><input type="checkbox" class="filled-in filled-in-biz" name="biz[]" id="filled-in-box14" value="90"><label for="filled-in-box14">Buying House</label></li>
                                 </ul>
                              </div>
                              <div class="col-md-12" style="text-align: right;">
                                 <button type="" class="btn btn-large btn-primary" style="color: #fff;
                                    background-color: #f37638;
                                    border-color: #f37638;
                                    font-size: 16px;
                                    padding: 8px 30px;">Save </button>
                              </div>
                              <div class="col-md-12">
                                 <h5 style="font-size: 17px;
                                    margin: 0px 0px 15px;
                                    color: #5d5d5d;
                                    font-weight: bold;
                                    line-height: 1.5;">Business Card</h5>
                              </div>
                              <div class="col-md-12 pad0">
                                 <div class="col-md-6">
                                    <div class="business-upload">
                                       <h6>Front View</h6>
                                       <div class="business-upload-sec">
                                          <img src="images/no-business-card.jpg" class="img-responsive">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="business-upload">
                                       <h6>Back View</h6>
                                       <div class="business-upload-sec">
                                          <img src="images/no-business-card.jpg" class="img-responsive">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div id="menu2" class="tab-pane fade">
                        <div class="col-md-12 pad0">
                           <div class="col-md-6">
                              <div class="field">
                                 <span class="info-iconss"><i class="info_icon" data-toggle="tooltip" title="GSTIN is important for all business transactions. Buyers trust sellers with GSTIN to ensure quick and transparent deals.">i</i></span>
                                 <input type="text" name="GSTIN1" id="GSTIN1" placeholder="GSTIN">
                                 <label for="GSTIN1">GSTIN</label>
                              </div>
                              <div class="field">
                                 <span class="info-iconss"><i class="info_icon" data-toggle="tooltip" title="PAN No. is mandatory for all financial transactions. It validates your tax information and confirms your status as a trusted seller.">i</i></span>
                                 <input type="text" name="PAN-No1" id="PAN-No1" placeholder="PAN No.">
                                 <label for="PAN-No1">PAN No.</label>
                              </div>
                              <div class="field">
                                 <span class="info-iconss"><i class="info_icon" data-toggle="tooltip" title="TAN is needed for persons who have to collect or deduct tax on payments made by them. It is needed to ensure easy tax deduction.">i</i></span>
                                 <input type="text" name="TAN-No1" id="TAN-No1" placeholder="TAN No.">
                                 <label for="TAN-No1">TAN No.</label>
                              </div>
                              <div class="field">
                                 <span class="info-iconss"><i class="info_icon" data-toggle="tooltip" title="CIN contains all important details about your company. With this information, the buyer will know that your business is registered with the government and will be more confident to deal with you.">i</i></span>
                                 <input type="text" name="LLPIN" id="LLPIN" placeholder="CIN No./LLPIN">
                                 <label for="LLPIN">CIN No./LLPIN</label>
                              </div>
                              <div class="field">
                                 <span class="info-iconss"><i class="info_icon" data-toggle="tooltip" title="IE Code is a must if you deal in imports or exports. This information will ensure smooth transactions with any foreign buyers.">i</i></span>
                                 <input type="text" name="DGFT/IE" id="DGFT/IE" placeholder="DGFT/IE Code">
                                 <label for="DGFT/IE">DGFT/IE Code</label>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="india-mart-buyer">
                                 <div class="col-md-4">
                                    <img src="images/Seller-statutory.png" class="img-responsive">
                                 </div>
                                 <div class="col-md-8">
                                    <h4>IndiaMART buyers are more likely to trust sellers with complete statutory details</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12" style="text-align: right;">
                           <button type="" class="btn btn-large btn-primary" style="color: #fff;
                              background-color: #f37638;
                              border-color: #f37638;
                              font-size: 16px;
                              padding: 8px 30px;">Save </button>
                        </div>
                     </div>
                     <div id="menu3" class="tab-pane fade">
                        <div class="col-md-12 pad0">
                           <div class="col-md-6">
                              <div class="field">
                                 <input type="text" name="IFSC-Code" id="IFSC-Code" placeholder="IFSC Code">
                                 <label for="IFSC-Code">IFSC Code</label>
                              </div>
                              <div class="field">
                                 <input type="text" name="Bank-Name" id="Bank-Name" placeholder="Bank Name  (As Per IFSC Code)">
                                 <label for="Bank-Name">Bank Name  (As Per IFSC Code)</label>
                              </div>
                              <div class="field">
                                 <input type="text" name="Account No" id="Account-No" placeholder="Account-No">
                                 <label for="Account-No">Account No</label>
                              </div>
                              <div class="field">
                                 <input type="text" name="Account Type" id="Account-Type" placeholder="Account-Type">
                                 <label for="Account-Type">Account Type</label>
                              </div>
                           </div>
                           <div class="col-md-12" style="text-align: right;">
                              <button type="" class="btn btn-large btn-primary" style="color: #fff;
                                 background-color: #f37638;
                                 border-color: #f37638;
                                 font-size: 16px;
                                 padding: 8px 30px;">Save </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </section>