<section>
  <div class="app-store-bottom">
  <div class="container ">
  <div class="col-md-4">
  <!-- <img src="../../../../assets/images/mobile-bg.png"> -->
</div>
  <div class="col-md-4">

  </div>
    <div class="col-md-4">

</div>
</div>
</div>
<div class="app-store-top">
  <div class="container ">
    <div class="col-md-4">
      <img class="mobile-bg" src="../../../../assets/images/mobile-bg.png">
    </div>
    <div class="col-md-4">
      <h3>TRY THE ONS APP</h3>
      <h5>Buy, sell and find anything using the ONS app on your mobile.</h5>
    </div>
    <div class="col-md-4 app-store-foot">
      <div class="col-md-12">
        <p>Get your app today</p>
      </div>
      <div class="col-md-12">
        <li><img src="../../../../assets/images/google.png"></li>
        <li><img src="../../../../assets/images/appstore_2x.png"></li>
      </div>
    </div>
  </div>
</div>
</section>
<footer>

  <div class="footer-top">
    <div class="container">
    <div class="footer-col" *ngFor="let data of f_data">
        <h5>{{ data.d1 }}</h5>
        <li><a href="">{{ data.d2 }}</a></li>
        <li><a href=""> {{ data.d3 }}</a></li>
        <li><a href="">{{ data.d4 }} </a></li>
        <li><a href=""> {{ data.d5 }}</a></li>

    </div>


    <div class="footer-col">
       <h5>Follow Us</h5>
      <div class="socila-icons">
      <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
    </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <p>Copyright © 2020 ONS</p>
  </div>
</footer>