<header>
  <div class="header-one">
    <div class="container">
    <div class="col-md-6">
      <div class="col-md-3">
        <div class="logo">
          <h2>ONS</h2>
        </div>
      </div>
      <ul class="header-one-left">
       <li *ngFor="let Li of labels"> {{ Li }} </li>
      </ul>
    </div>
     <div class="col-md-6">
       <ul class="header-one-right">
        <li *ngFor="let menu of menus" [innerHTML]="menu"> </li>
        <li><button class="place-ad">Place ad</button></li>
        <li>
          <label>Select Language </label>
          <select #langSelect (change)="changeLang(langSelect.value)" class="language">  
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>  
          </select> 
        </li>
      </ul>
    </div>
  </div>
  </div>
   
  <div class="header-two">
    <div class="container">
      <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <ul>
          <li class="mobile-search">
            <input type="text" formControlName="mobile" placeholder="Search by car, mobile and more">
            <div class="haserror" *ngIf="complexForm.get('mobile').hasError('required') && complexForm.get('mobile').touched">This field is required</div>
          </li>
           <li class="select-cat"><select>
             <ng-container *ngFor="let Home of HomeList">
                  <option >{{Home}}</option>
              </ng-container>
           </select></li>
            <li class="postal-code">
              <input type="text"  formControlName="postal" placeholder="Postal code">
              <div class="haserror" *ngIf="complexForm.get('postal').hasError('required') && complexForm.get('postal').touched">This field is required</div>
            </li>
             <li class="all-distance">
               <select>
                 <option>{{ 'Home' | translate }}</option>
               </select>
             </li>
              <li class="srach-btn">
                <button [disabled]="!complexForm.valid">search</button>
              </li>
        </ul>
      </form>
    </div>
  </div>

  <div class="header-three">
    <div class="container">
      <li *ngFor="let Home of HomeList"><a>{{Home}} </a> </li>
    </div>
  </div>
</header>

<section>
  <div class="banner-images">
    <h1>Buy, Sell and Find Just About Anything</h1>
  </div>
</section>

