<section  class="page-body-secs sidebar-con">
  <div class="container-fluid">
    <!-- <div class="col-md-3 pad0"> -->
      <div class="sidebar-sec">
        <h4>Featured</h4>

         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/fecar.png">
          <h5>Cars</h5>
          <p>> 7500 new occasions per day</p>
         </div>

         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/fe-truck.png">
          <h5>Send</h5>
          <p>Label and track & trace directly in your Messages</p>
         </div>


         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/fe-hand.png">
          <h5>Crossing immediately </h5>
          <p>Extra security when paying and shipping</p>
         </div>

         <h4>All Categories</h4>
         <div class="all-cate">
          <a>Antique and Art </a>
 <a>Audio, TV and Photo</a>
 <a>Cars</a>
 <a>Car parts</a>
 <a>Car miscellaneous</a>
 <a>Books</a>
 <a>Caravans and Camping</a>
 <a>CDs and DVDs</a>
 <a>Computer and Software</a>
 <a>Contacts and Messages</a>
 <a>Services and Professionals</a>
 <a>Animals and Accessories</a>
 <a>Bicycles and Mopeds</a>
 <a>Hobby and Leisure</a>
 <a>Houses and Rooms</a>
 <a>Home Appliances</a>
 <a>Miscellaneous</a>
         </div>



          <h4>For the buyer</h4>

         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/fe-hand.png">
          <h5>Crossing immediately</h5>
          <p>Then your money back!</p>
         </div>

         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/fe-truck.png">
          <h5>Business goods</h5>
          <p> A good deal for entrepreneurs</p>
         </div>


         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/feservice.png">
          <h5>Services and Professionals </h5>
          <p> Find your professional</p>
         </div>



                   <h4>For the seller</h4>

         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/fe-speaker.png">
          <h5>Marketplace Stand</h5>
          <p>Then your money back!</p>
         </div>

         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/fe-sakend.png">
          <h5>Packages</h5>
          <p> Extra stand out with your  company and advertisements</p>
         </div>


         <div class="prod-fecility">
          <img src="http://szwebprofile.com/Ang/images/fe-hand.png">
          <h5>Services and Professionals</h5>
          <p> Offer your service</p>
         </div>
      </div>
    <!-- </div> -->
    </div>
</section>