<header>
  <div class="header-one">
    <div class="container">
    <div class="col-md-6">
      <div class="col-md-3">
        <div class="logo">
          <h2>ONS</h2>
        </div>
      </div>
      <ul class="header-one-left">
        <li><a>Help and info</a>    
        </li>
        <li>    <a>Requirements</a> 
        </li>
        <li>
           <a>Safe trading</a>
        </li>
      </ul>

    </div>
     <div class="col-md-6">

       <ul class="header-one-right">
        <li><a class="messages">Messages</a>    
        </li>
        <li>    <a class="notifications">Notifications</a> 
        </li>
        <li>
           <a class="login">Login</a>
        </li>
        <li>
          <button class="place-ad">Place ad</button>
        </li>
        <li>
          <label>Select Language </label>
          <select #langSelect (change)="changeLang(langSelect.value)" class="language">  
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>  
          </select> 
        </li>
      </ul>
    </div>
  </div>
  </div>
   
  <div class="header-two">
    <div class="container">
      <ul>
        <li class="mobile-search"><input type="text" placeholder="Search by car, mobile and more"></li>
         <li class="select-cat"><select>
           <ng-container *ngFor="let Home of HomeList">
                <option >{{Home}}</option>
              </ng-container>
         </select></li>
          <li class="postal-code"><input type="text" name="" placeholder="Postal code"></li>
           <li class="all-distance">
             <select>
               <option>{{ 'Home' | translate }}</option>
             </select>
           </li>
            <li class="srach-btn">
              <button>search</button>
            </li>
      </ul>
    </div>
  </div>

  <div class="header-three">
    <div class="container">
      <li>
        <select>
          <option>All Categories</option>
        </select>
      </li>
      <li *ngFor="let Home of HomeList"><a>{{Home}} </a> </li>
    </div>
  </div>
</header>

<section>
  <div class="banner-images">
    <h1>Buy, Sell and Find Just About Anything</h1>
  </div>
</section>

