<!-- <div class="col-md-9 pad0"> -->
      <section class="recently-posted">
        <div class="header-two">
    
        </div>
        <div class="col-md-12">
          <h3 style="margin-bottom: 0px; margin-top: 0px;">Recently Posted Ads</h3>
        </div>
 <div class="customer-logos"><div class="slide" *ngFor="let rec of Featured">    
      <div class="product-section">
              <div class="col-md-12 heart-icon-sec">
              </div>
              <div class="col-md-12 pad0 pro-banner">
                <img src="../../../../assets/images/{{rec.image}}">
              </div>
              <div class="col-md-12 pro-offer">
                <a>FEATURED</a>
              </div>
              <div class="col-md-12  prod-title">
                <h4>{{rec.name}}</h4>
              </div>
               <div class="col-md-12   prod-location">
                <div class="col-md-8 pad0">
                <p>{{rec.loc}}</p>
              </div>
              <div class="col-md-4 pad0" style="text-align: right;">
                <p>{{rec.day}}</p>
              </div>
              </div>

               <div class="col-md-12 pad0 prod-price">
                <h3><i class="fa fa-inr" aria-hidden="true"></i> {{rec.amount}}</h3>
              <div class="col-md-12 pad0">
                <li>{{rec.year}} /</li>
                <li> {{rec.km}} /</li>
                <li> {{rec.Petrol}}</li>
              </div>
              </div>
            </div>
          </div>
      </div>
      </section>


           <section class="fresh-posted">
        <div class="col-md-12">
          <h3>Fresh Recommendations</h3>
        </div>
        <div class="col-md-3" *ngFor="let rec of Featured">
          <div class="product-section">
            <div class="col-md-12 heart-icon-sec">
            </div>
            <div class="col-md-12 pad0 pro-banner">
              <img src="../../../../assets/images/{{rec.image}}">
            </div>
            <div class="col-md-12 pro-offer">
              <a>FEATURED</a>
            </div>
            <div class="col-md-12  prod-title">
                <h4>{{rec.name}}</h4>
              </div>
               <div class="col-md-12   prod-location">
                <div class="col-md-8 pad0">
                <p>{{rec.loc}}</p>
              </div>
              <div class="col-md-4 pad0" style="text-align: right;">
                <p>{{rec.day}}</p>
              </div>
              </div>

               <div class="col-md-12 pad0 prod-price">
                <h3><i class="fa fa-inr" aria-hidden="true"></i>{{rec.amount}}</h3>
              <div class="col-md-12 pad0">
                <li>{{rec.year}} /</li>
                <li> {{rec.km}} /</li>
                <li> {{rec.Petrol}}</li>
              </div>
            </div>
             </div>
          </div>
      </section>
    <!-- </div> -->
  