<header>
  <div class="header-one">
    <div class="container">
    <div class="col-md-4">
      <div class="col-md-3">
        <div class="logo">
          <h2>ONS</h2>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  
</header>
<section class="world-section" style="display: none;">
<div class="container">
    
    <h2 class="subtitle heading heading-primary heading-h3 heading-bold heading-black heading-center">Your country does not has data please select one country from the countries below.</h2>
    <div class="world-grid-container">
        <h3 class="grid-title heading heading-primary heading-h4 heading-bold heading-black heading-center">Find your community below</h3>
        <div class="world-grid flagged-countries">
          <div class="country-wrapper" *ngFor="let countrylist of Country_List">
              <a class="country"  (click)=home(countrylist.name)>
                <div class="flag-wrapper">
                <img class="flag" src="../../../assets/images/flag.png" alt="Flag br"/>
              </div>
                <span class="country-title">{{countrylist.name}}</span>
              </a>
          </div>
        </div>
    </div>
</div>
</section>

<div class="container">
         <div class="ons-index0logo">
            <div class="col-md-9" style="float: none; margin: 0px auto;">
               <div class="main-ons-logo">
                  <!-- <img src="images/olx.png"> -->
                  <h3>Join the millions who buy and sell from each other everyday in local communities around the world.</h3>
               </div>
            </div>
            <div class="flag-images-sec">
               <h4>Find your community below</h4>
               <div class="col-md-12">
                  <div class="col-md-9" style="float: none; margin: 0px auto;     text-align: center;">
                     <li *ngFor="let countrylist of Country_List">
                        <a class="country" style="cursor: pointer;"  (click)=home(countrylist.name)>
                          <img class="flag" src="../../../assets/images/flags/{{countrylist.name}}.png" alt="Flag "/><br>
                          <span>{{countrylist.name}}</span>
                        </a>
                     </li>
                     
                  </div>
               </div>
            </div>
            <div class="flag-images-sec" style="display: none;">
               <h4>More communities</h4>
               <div class="col-md-12">
                  <div class="col-md-9" style="float: none; margin: 0px auto;     text-align: center;">
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Argentina</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Bulgaria</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Colombia</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Costa Rica</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Ecuador</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Egypt</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>El Salvador</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Guatemala</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Kazakhstan</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Lebanon</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Oman</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Panama</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Peru</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Poland</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Ukraine</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Uzbekistan</span></a>
                     </li>
                     <li>
                        <a href=""><img src="images/in.png"><br><span>Bosnia and Herzegovina</span></a>
                     </li>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="onx-part-section">
         <div class="container">
            <div class="col-md-12">
               <div class="col-md-9" style="float: none; margin: 0px auto;">
                  <h4>ONS is part of ONS Group, a network of leading marketplaces present in 30+ countries with 20+ brands.</h4>
               </div>
            </div>
            <div class="col-md-6">
               <div class="olx-part-sub-sec">
                  <!-- <img src="images/office_olx_group.jpg" class="img-responsive"> -->
                  <a href="">More about us</a>
               </div>
            </div>
            <div class="col-md-6">
               <div class="olx-part-sub-sec">
                  <!-- <img src="images/_DSF3691.jpg" class="img-responsive"> -->
                  <a href="">
                  Join our team
                  </a>
               </div>
            </div>
         </div>
      </div>
<footer>
  <div class="footer-bottom">
    <p>Copyright © 2020 ONS</p>
  </div>
</footer>