<section>
  <div class="app-store-bottom">
  <div class="container ">
  <div class="col-md-4">
  <!-- <img src="http://szwebprofile.com/Ang/images/mobile-bg.png"> -->
</div>
  <div class="col-md-4">

  </div>
    <div class="col-md-4">

</div>
</div>
</div>
<div class="app-store-top">
  <div class="container ">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h3>TRY THE ONS APP</h3>
      <h5>Buy, sell and find anything using the ONS app on your mobile.</h5>
    </div>
    <div class="col-md-4 app-store-foot">
      <div class="col-md-12">
        <p>Get your app today</p>
      </div>
      <div class="col-md-12">
        <li><img src="http://szwebprofile.com/Ang/images/google.png"></li>
        <li><img src="http://szwebprofile.com/Ang/images/appstore_2x.png"></li>
      </div>
    </div>
  </div>
</div>
</section>
<footer>

  <div class="footer-top">
    <div class="container">
    <div class="footer-col">
      <h5>Popular Locations</h5>
      <li><a href="">Kolkata</a></li>
       <li><a href=""> Mumbai</a></li>
        <li><a href="">Chennai </a></li>
         <li><a href=""> Pune</a></li>

    </div>

    <div class="footer-col">
      <h5>Trending Locations</h5>
          <li><a href="">Bhubaneshwar</a></li>
       <li><a href="">Hyderabad</a></li>
        <li><a href="">Chandigarh</a></li>
         <li><a href="">Nashik</a></li>
    </div>

    <div class="footer-col">
      <h5>About Us</h5>
          <li><a href="">About ONS</a></li>
       <li><a href=""> Careers</a></li>
        <li><a href="">Contact Us</a></li>
         <li><a href="">ONS People</a></li>
    </div>

    <div class="footer-col">
      <h5>ONS</h5>
          <li><a href="">Help  </a></li>
       <li><a href="">Sitemap</a></li>
        <li><a href="">Legal & Privacy information</a></li>
        
    </div>

    <div class="footer-col">
       <h5>Follow Us</h5>
      <div class="socila-icons">
      <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
    </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <p>Copyright © 2020 ONS</p>
  </div>
</footer>